<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список настольных игр</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        header {
            background-color: #333;
            color: #fff;
            padding: 20px 0;
            text-align: center;
        }

        footer {
            background-color: #333;
            color: #fff;
            padding: 20px 0;
            text-align: center;
            margin-top: 50px;
        }
    </style>
</head>
<body>
<header>
    <div class="container">
        <h1>Список настольных игр</h1>
    </div>
</header>

<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Название</th>
            <th scope="col">Издатель</th>
            <th scope="col">Год выпуска</th>
            <th scope="col">Возрастная категория</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Каркассон</td>
            <td>Z-Man Games</td>
            <td>2000</td>
            <td>От 8 лет</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Диксит</td>
            <td>Libellud</td>
            <td>2008</td>
            <td>От 6 лет</td>
        </tr>

        </tbody>
    </table>
</div>

<footer>
    <div class="container">
        &copy; 2024 Магазин настольных игр
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
