<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Магазин настольных игр</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        header {
            background-color: #333;
            color: #fff;
            padding: 20px 0;
            text-align: center;
        }



        footer {
            background-color: #333;
            color: #fff;
            padding: 20px 0;
            text-align: center;
            margin-top: 50px;
        }
    </style>
</head>
<body>
<header>
    <div class="container">
        <h1>Добро пожаловать в магазин настольных игр!</h1>
    </div>
</header>

<div class="jumbotron">
    <div class="container">
        <h2 style="color: #333333">Широкий выбор настольных игр для всех возрастов</h2>
        <p style="color: #333333">От классических до современных, у нас вы найдете все, что нужно для отличного времяпровождения в компании друзей и семьи.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Посмотреть игры</a>
    </div>
</div>

<footer>
    <div class="container">
        &copy; 2024 Магазин настольных игр
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
